/*BODY*/
body {
    margin : 0;
}

/*HEADER BOX*/
.header-box {
    height : 150px;
    top : 0px;
    background-color : white;
    position : relative;
}
.logo-small {
    position : absolute;
    transform : scale(0.5, 0.5);
    top : -4px;
    left : 10%
}
.page-menu {
    display : flex;
    flex-wrap : wrap;
    justify-content : flex-end;
    width : 52%;
    gap : 6.25rem;
    padding : 4.375rem 0;
    margin-left : 38%;
}
.page-menu a {
    position : relative;
    display : inline-block;
    text-decoration : none;
    font-family : "Montserrat Medium", sans-serif;
    font-size : 1.125rem;
    color : black;
    text-underline-offset: 0.5rem;
    padding-bottom : 4px;
}
.page-menu a::after {
    content : "";
    position : absolute;
    bottom : 0;
    left : 50%;
    transform : translateX(-50%);
    height : 0.125rem;
    width : 0;
    background-color : black;
    transition : width 0.35s ease;
}
.page-menu a:hover::after {
    width : 100%;
}

/*HERO BANNER*/
.hero-banner {
    height : 200px;
    background-color : red;
    position : relative;
}
#hero-banner-img {
    position : absolute;
    height : 200px;
}

/*FOOTER BOX*/
.footer-box {
    height : 400px;
    background-color : blue;
    position : relative;
}

/*ANIMATIONS*/
@keyframes bar-expand-center {
    0% {

    }
    100% {

    }
}